.button-number {
  background-color: #514caf;
  border: 5px solid #000000;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-number:active {
  background-color: #4c47a9;
  box-shadow: 0 1px #000000;
  transform: translateY(0.1px);
}

.button-operator {
  background-color: #512426;
  border: 5px solid #000000;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-operator:active {
  background-color: #481d1f;
  box-shadow: 0 2px #000000;
  transform: translateY(0.1px);
}

.button-edit-end {
  background-color: #707070;
  border: 5px solid #000000;
  color: #ffffff;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-edit-end:active {
  background-color: #666464;
  box-shadow: 0 2px #222222;
  transform: translateY(0.1px);
}

.button-edit-start {
  background-color: #707070;
  border: 5px solid #000000;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-edit-start:active {
  background-color: #666464;
  box-shadow: 0 2px #222222;
  transform: translateY(0.1px);
}

.button-control {
  background-color: #000000;
  border: 5px solid #000000;
  color: rgb(255, 255, 255);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-control:active {
  background-color: #050505;
  box-shadow: 0 2px #0f0e0e;
  transform: translateY(0.5px);
}